<td><label class="checkbox"><input type="checkbox" name="job" value="{{id}}"></label></td>
<td><p style="width : 200px;" class="HV-text-overflow"><a href="#jobs/{{id}}">{{name}}</a></p></td>
<td>
  <div class="pull-right">
    <a class="btn-small" href="{{{replace resources.mail what="id" with="id" inContext="true"}}}" rel="tooltip" data-original-title="{{mails}} new Mail">{{mails}} <i class="icon-envelope"></i></a></div>
    </td><td>

    <div class="pull-right">
      <a class="btn-small" href="{{{replace resources.resume what="id" with="id" inContext="true"}}}" rel="tooltip" data-original-title="{{resumes}} new Resume">{{resumes}} <i class="icon-book"></i></a></div>
  </td><td>
  <div class="pull-right">
    <a class="btn-small" href="{{{replace resources.applicant what="id" with="id" inContext="true"}}}" rel="tooltip" data-original-title="{{applicant}} people applied">{{applicant}} <i class="icon-user"></i></a></div>
</td>
<td><p class="HV-tabletext-width HV-text-overflow">
  {{#if status}}
    {{#with status}}
      <span class="label {{style}} HV-rightmargin">{{title}}</span>
    {{/with}}
  {{/if}}
  {{description}}</p></td>

{{#if meta}} 
{{#with meta}}
<td>
  {{#if salary}}{{#with salary}}<span class="label{{#if style}} {{style}}{{/if}}">Salary {{lowercap}}~{{uppercap}} {{unit}}</span></td>{{/with}}{{/if}}
<td>

{{#with date}}<p>{{day}}/{{month}}</p>{{/with}}</td>

{{/with}}{{/if}}
