<button id="addbutton" class="btn btn-primary" href="#">Create a new Job</button>
<div id="job-form" class="hide">
  <form class="form-horizontal">
    <fieldset>
      <div class="control-group">
        <label class="control-label" for="input01">Title</label>
        <div class="controls">
          <input type="text" class="input-xlarge" id="input01" placeholder="Web Developer..">
          <p class="help-block">Who are you looking for ?</p>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="input02">City</label>
        <div class="controls">
          <input type="text" class="input-xlarge" id="input02" placeholder="New Delhi">
          <p class="help-block">For which city you are looking for ?</p>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="input03">State</label>
        <div class="controls">
          <input type="text" class="input-xlarge" id="input03" placeholder="Delhi">
          <p class="help-block">For which state you are looking for ?</p>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="input04">Country</label>
        <div class="controls">
          <input type="text" class="input-xlarge" id="input04" placeholder="India">
          <p class="help-block">Which country ?</p>
        </div>
      </div>
    <div class="control-group">
      <label class="control-label" for="textarea">Textarea</label>
      <div class="controls">
        <textarea class="input-xlarge" id="textarea" rows="3"></textarea>
      </div>
    </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <button class="btn">Cancel</button>
      </div>
    </fieldset>
  </form>
</div>