<div class="pull-left HV-rightmargin" style="margin-top: 4px">
  <label id="selectAll" class="checkbox"><input type="checkbox"></label>
</div>
<div class="pull-left">
  <a id="setting" class="btn" rel="tooltip" data-original-title="Setting">
    <i class="icon-cog"></i> Setting
  </a>
  <a id="delete" class="btn" rel="tooltip" data-original-title="Delete">
    <i class="icon-trash"></i> Delete
  </a>
</div>
<div class="clearfix"></div>
