<ul class="breadcrumb">
  <li>
    <a href="#">Home</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="#">Opening</a> <span class="divider">/</span>
  </li>
  <li class="active">Php Developer</li>
</ul>
