<div class="HV-padding HV-whitebg HV-border">
  <div id="home-header">
    <h1>HomePage</h1>
  </div>
  <div class="row-fluid">
    <div class="span4">
      <h3>Seeking job</h3>
      <p>Some there hwerlajkdfl jl alsd l  a ldfjamhem ishan is hard at work preparing for big night . tomorrow the 11 year old syrian</p>
      
      <button id="twitterlogin" onClick="window.open('/auth/twitter', 'twitter', 'toolbar,width=500,height=400,scrollbars=yes') ">Signup using twitter</button>

      <button id="twitterlogin" onClick="window.open('/auth/linkedin', 'linkedin', 'toolbar,width=500,height=400,scrollbars=yes') ">Signup using linkedin</button>


    </div>
    <div class="span4">
      <h3>Referring job</h3>
      <p>Some there hwerlajkdfl jl alsd l  a ldfjamhem ishan is hard at work preparing for big night . tomorrow the 11 year old syrian</p>
      <a href="#" class="btn btn-primary" href="#">Login with twitter</a>
    </div>
    <div class="span4">
      <h3>Providing job</h3>
      <p>Some there hwerlajkdfl jl alsd l  a ldfjamhem ishan is hard at work preparing for big night . tomorrow the 11 year old syrian</p>
      <a href="#provider/12312" class="btn btn-primary" href="#">Login with Twitter</a>
    </div>
  </div>
</div>
