<div class="HV-padding HV-whitebg HV-border">
  <!--Yahan par headerView ka content render hoga-->
  <div id="homeheader" class="page-header"></div>
  <!--Yahan par new job ka view aayega-->
  <div class="well" id="new-job"></div>
  <!--Yahan par OptionsView ka content render hoga-->
  <div id="optionbox" style="padding-left : 5px"></div>
  <!--Yahan par jobs ke table jayegi-->
  <table id="jobsTable" class="table table-condensed HV-topmargin HV-openingtable"></table>
</div>
