<!--Each annotation will have its own wrapper-->
{{#each annotations}}
{{#with this}}
<div class="annotationWrapper">
	<!-- 1st annotation -->
  <div class="annotation" style="top:{{image.top}}px; left: {{image.left}}px; width:{{image.width}}px">
		<div id="anno">
			<div class="HV-anno-yellow">
				<a href="#">
          <div style="height:{{image.height}}px"></div>
				</a>
			</div>
		</div>
	</div>
</div>
{{/with}}
{{/each}}
