{{#each annotations}}
{{#with this}}
<div class="annotationWrapper HV-overlay">

	<!-- 1st annotation -->
  <div class="annotation HV-anno-active" style="top:{{image.top}}px; left: {{image.left}}px; width:{{image.width}}px">

		<!-- Header -->
		<div id="annotationheader" class="HV-res-margin-bottom">
      <h4>{{title}}</h4>
		</div>
		<!-- Image box -->
    <div id="anno" class="HV-anno-shadow-box HV-res-margin-bottom" style="background : url('/images/700x/resume_1.png'); background-position : -{{image.left}}px -{{image.top}}px;">
			<div class="HV-anno-yellow">
				<a href="#">
          <div style="height:{{image.height}}px"></div>
				</a>
			</div>
		</div>
		<!-- Audio -->
		<div id="annotationaudio">
			<div class="pull-left">play icon</div>
			<div class="pull-right">
				<p>3:42</p>
			</div>
			<div class="clearfix"></div>
		</div>
		<!-- Description -->
		<div id="annotationdesc">{{notes}}</div>
	</div>
</div>
{{/with}}
{{/each}}
