<div id="pages" class="HV-res-margin-bottom HV-res-border-bottom">
  <!-- Yahan par ek ke baad ek pages hogein -->
  <div id="page" class="HV-pos-relative">
    <img src="/images/700x/resume_1.png" alt="">
    <!-- Yahan par agar koi annotations hogein to yahan is container mein hogein -->
    <div id="annotations">
      <!-- 1st annotation -->
      <div class="annotation" style="top:130px; left: 55px; width:600px">
        <div class="HV-overlay">
          <div id="annoWhere" style="background : url('/images/700x/resume_1.png'); background-position : -47px -345px;">
            <div class="HV-anno-yellow">
              <a href="#">
                <div style="height:60px"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- 1st annotation -->
      <div class="HV-overlay">
        <div class="annotation HV-anno-active" style="top:343px; left: 55px; width:600px">
          <div id="annotationheader" class="HV-res-margin-bottom">
            <h4>Highlight for Testing</h4>
          </div>
          <div id="anno" class="HV-anno-shadow-box HV-res-margin-bottom" style="background : url('/images/700x/resume_1.png'); background-position : -47px -345px;">
            <div class="HV-anno-yellow">
              <a href="#">
                <div style="height:74px"></div>
              </a>
            </div>
          </div>
          <div id="annotationaudio">
            <div class="pull-left">play icon</div>
            <div class="pull-right">
              <p>3:42</p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div id="annotationdesc">
            <ul>
              <li>Morbi mattis erat neque, vel fringilla velit.</li>
              <li>
                Fusce commodo blandit nibh, condimentum pulvinar felis pharetra non.
              </li>
              <li>
                Pellentesque sollicitudin commodo erat, eget porttitor mi eleifend vitae.
              </li>
              <li>Fusce a nisi sed quam luctus blandit molestie id urna.</li>
              <li>Aliquam vulputate velit ut augue ullamcorper pulvinar.</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- highlighted annotation ends --> </div>
    <div id="page" style="border-top: 1px solid lightgrey">
      <img src="/images/700x/resume_2.png" alt=""></div>
  </div>
</div>