<div id="pagebig" class="HV-pos-relative">
  <img src='{{{replace resources.resume what="pagenumber" with="pagenumber" inContext="true"}}}' alt="" />
    <!--annotations -->
    {{#if annotations}}
    <div id="annotations">
    </div>
    {{/if}}
    <!--yahan par annotions div khatam hoti hai -->
</div>
