  <h3>{{name}}</h3>
  {{#if tags}}
  
  <ul class="unstyled HV-res-border-bottom HV-padding-bottom">
    {{#each tags}}
      <li class="pull-left" style="margin-right:10px"><span class="badge badge-warning">{{this}}</span></li>
    {{/each}}
			<li class="clearfix"></li>
    </ul>
    {{/if}}
    {{#if description}}
      <p class="HV-res-border-bottom HV-padding-bottom">{{description}}</p>
    {{/if}}

    {{#if annotations}}
		<div id="notes">
			<div class="notes">
				<h4>Notes</h4>
        
        <ol>
          {{#each annotations}}
          <li><a href="#"><p>{{this.title}}</p></a></li>
          {{/each}}
        </ol>
        
			</div>
	  <div class="clearfix"></div>
  </div>
  {{/if}}
<div class="clearfix"></div>
