body {
    background : url("/images/pagesbg.jpg");
}

.table th, .table td {
    border-bottom: 1px solid #DDD;
}

.HV-whitebg {
    background : white;
}

.HV-border {
  border : 1px solid lightgrey;
}


.HV-margin {
    margin : 10px;
}
.HV-padding {
    padding : 10px;
    .small {
        padding : 4px;
    }
}

.HV-topmargin {
    margin-top: 10px;
    .small {
        margin-top: 4px;
    }
}

.HV-leftmargin {
    margin-left : 10px;
}

.HV-rightmargin {
    margin-right : 10px;
}

.HV-openingtable {
}

.HV-text-overflow{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.HV-tabletext-width {
    width : 400px;
}

.HV-job {
  position : relative;

  &:hover {
      background : lighten(lightgrey, 10%);
  }
}
