.HV-jobs-border-bottom {
  border-bottom: 1px solid lightgrey;
}

.HV-jobs-padding-top {
  margin-top : 10px;
}

.HV-jobs-padding-bottom {
  margin-bottom : 10px;
}

#applied {
  width : 100%;
  padding-top : 10px;
  padding-bottom : 10px;
  div {
    margin-right : 5px;
  }
}
