.HV-res-border {
    border : 1px solid lightgrey;
}

.HV-res-border-bottom {
    border-bottom : 1px solid lightgrey;
}

.HV-res-margin {
    margin: 10px;
}

.HV-padding-bottom {
  padding-bottom : 10px;
}

.HV-res-margin-bottom {
    margin-bottom : 10px;
}

.HV-pos-relative {
    position : relative;
}

.highlight, .annotation {
    border: 2px solid yellow;
    position : absolute;
}

.HV-anno-yellow {
    background : yellow;
    opacity : .2;
}


.HV-anno-active {
  border: 5px solid yellow;
  background : white;
  padding:10px;
}

.HV-anno-active .overlay {
  width:300px;
  margin: 100px auto;
  background-color: #fff;
  border:1px solid #000;
  padding:15px;
  text-align:center;
}

.HV-overlay {
  height: 100%;
  width: 100%;
  background: rgba(9, 8, 8, 0.58);
  position: absolute;
  top: 0px;
  left: 0px;
}

.HV-anno-shadow-box{
  
  -webkit-box-shadow: rgba(162, 162, 162, 0.33) 0 0 25px, rgba(245, 255, 8, 0.88) 0 0 3px 1px inset;
  -moz-box-shadow: rgba(162, 162, 162, 0.33) 0 0 25px, rgba(245, 255, 8, 0.88) 0 0 3px 1px inset;
  box-shadow: rgba(162, 162, 162, 0.33) 0 0 25px, rgba(245, 255, 8, 0.88) 0 0 3px 1px inset;
}

#annotationaudio, .HV-res-padding {
  padding : 10px;
}


.HV-div-scrollable {
    overflow: scroll;
    overflow-x: hidden;
}
