<div class="page-header HV-jobs-border-bottom"><h1>{{name}}</h1></div>
<div id="tags">
<ul class="unstyled">
  {{#each tags}}
        <li style="
    float: left;
    margin-right: 10px;
">
<a href="#tags/{{this}}">
            <span class="badge badge-warning">{{this}}</span>
          </a>
          </li>
          {{/each}}
          <li class="clearfix"></li>
      </ul>
  </div><div class="meta HV-jobs-border-bottom">
  <ul class="unstyled">
    {{#with meta}}
    {{#if written}}
    <li><strong>Written by : </strong>{{written}}</li>
    {{/if}}
    {{#if posted_in}}
    <li><strong>Posted in : </strong>{{posted_in}}</li>
    {{/if}}
    {{#if location}}
    <li><strong>Location : </strong>{{location}}</li>
    {{/if}}

    {{#if salary}}
    {{#with salary}}
    <li><strong>Salary : </strong>{{lowercap}} to {{uppercap}} {{units}}</li>
    {{/with}}
    {{/if}}
    {{/with}}
    </ul>
  </div>
  {{#if applied}}
  <div id="applied" class="HV-jobs-border-bottom">
    <!--div.pull-left*6>a[href=#]>img[src=http://placehold.it/200X200]-->
    <div class="pull-left"><span class="label label-info">Applied</span></div>
    {{#each applied}} 
    <div class="pull-left HV-jobs-border-bottom">
      <a href="{{this.resources.resume}}">
        <img src="{{this.resources.image}}" alt="{{this.name}}">
      </a>
    </div>
    {{/each}}
    <div class="clearfix"></div>
  </div>
  {{/if}}
  {{#if description}}
    <div id="description" class="HV-jobs-padding-top">
      <p>{{description}}</p>
  {{/if}}
